html,
body {
    padding: 0;
    margin: 0;
    font-family: "Poppins";

    background: #171717;
    background-image: radial-gradient(#262626, #171717 90%);
}

.screen-image-mask {
    -webkit-mask-image: radial-gradient(at center, #111 35%, transparent 70%);
    mask-image: radial-gradient(at center, #111 35%, transparent 70%);
}
